<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                html {
                    height: 100%;
                }

                body {
                    margin: 0;
                    height: 100%;
                }

                #outer-container {
                    display: table;
                    width: 100%;
                    height: 100%;
                }

                #sidebar {
                    background-color: #c5dece;
                    display: table-cell;
                    width: 15%;
                    vertical-align: top;
                    padding-left: 15px;
                    padding-top: 15px;
                }

                #content {
                    background-color: azure;
                    display: table-cell;
                    width: 85%;
                    vertical-align: top;
                    padding-left: 15px;
                    padding-top: 15px;
                }

                ul.sidebar {
                    list-style-type: none;
                }
            </style>
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <div id="outer-container">
            <div id="sidebar">{% block sidebar %}{% endblock %}</div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>
